<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>车辆添加</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>

    <script type="text/javascript">

        //重新渲染表单
        function renderForm(){
            layui.use('form', function(){
                var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
                form.render();
            });
        }


        layui.use(['form', 'laydate'], function(){
            var form = layui.form;
            var laydate = layui.laydate,//日期
                layer = layui.layer;//弹层

            /*
                        $(document).ready(function(){

                            //异步获取车辆名称
                            $.ajax({
                                type : "get",
                                url : "/carmanage/selectCarinfo",
                                success : function(data) {
                                    alert(data[1].cId);
                                    var car='';
                                    $.each(data, function(index,obj) {
                                        car += '<option value="'+obj.cId+'">'+obj.cId+'</option>';
                                    });
                                    alert(car);
                                    $("#carId").append(car);
                                    renderForm();
                                    //layui.form.render();
                                },
                            });



                            layui.use('form', function() {
                                var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
                                form.render();
                            });

                        });*/

            //车辆上次保养时间
            laydate.render({
                elem: '#cMaintaintime'
            });
            //车辆车牌验证
            function checkcarcId(){
                //获取车辆车牌文本框的值
                var carId=$('#carId').val();
                //使用正则表达式 车辆车牌至少n位数字
                var reg = /^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$/;
                //判断
                if(reg.test(carId)){
                    $("#car_1").html("正确").css("color","green");
                    return true;
                }else{
                    $("#car_1").html("提示如：粤B12345").css("color","red");
                    //获得焦点
                    //$("#carId").focus();
                    //将文本内容进行全选
                    //$("#carId").select();
                    return false;
                }
            };
            //车辆名称验证
            function checkCar(){
                //获取部门名称文本框的值
                var carname=$('#carname').val();
                //使用正则表达式 部门名称由2-4个汉字构成
                var reg = /^[\u4e00-\u9fa5]{2,8}$/;
                //判断
                if(reg.test(carname)){
                    $("#car_2").html("正确").css("color","green");
                    return true;
                }else{
                    $("#car_2").html("必须是2-8位汉字").css("color","red");
                    //获得焦点
                    //$("#carname").focus();
                    //将文本内容进行全选
                    //$("#carname").select();
                    return false;
                }
            };
            //车辆状况验证
            function checkcarState(){
                //获取车辆状况文本框的值
                var cState=$('#cState').val();
                //使用正则表达式 车辆状况至少n位数字
                var reg = /^[0-2]*$/;
                //判断
                if(reg.test(cState)){
                    $("#car_3").html("正确").css("color","green");
                    return true;
                }else{
                    $("#car_3").html("必须是数字").css("color","red");

                    return false;
                }
            };
            //车辆保险信息
            $("#cInsurance").blur(function(){
                //获取车辆保险文本框的值
                var cInsurance=$('#cInsurance').val();
                //使用正则表达式 公告内容至少20位汉字
                var reg = /^[\u4e00-\u9fa5]{20,}$/;
                //判断
                if(reg.test(cInsurance)){
                    $("#car_4").html("正确").css("color","green");
                    return true;

                }else{
                    $("#car_4").html("至少20位汉字").css("color","red");

                    return false;
                }
            });




            //使用jQuery
            //车辆名称失去焦点事件实现验证
            $("#carname").blur(checkCar);
            //车辆名称编号失去焦点事件实现验证
            $("#carId").blur(checkcarcId);
            //提交按钮的验证事件
            $("#closeIframe").click(function(){
                // alert(191);
                if(checkCar()&&checkcarcId()){
                var index = parent.layer.getFrameIndex(window.name);
                var carname=$('#carname').val();
                var carId=$('#carId').val();
                var cState=$('#cState').val();
                var cInsurance=$('#cInsurance').val();
                var cMaintaintime=$('#cMaintaintime').val();
                $.ajax({
                    url: "/carmanage/carAddInfo",
                    type: "POST",
                    data: {"cId":carId,"cType":carname,"cState":cState,"cInsurance":cInsurance,"cMaintaintime":cMaintaintime},
                    dataType:"json",
                    success: function(data){
                        if(data===500){
                            layer.msg("添加失败", {icon: 5});
                        }else{
                            layer.msg("添加成功", {icon: 6,time:2000});
                            parent.layer.close(index);
                        }
                    },
                    error:function(){
                        layer.msg("系统异常");
                    },
                });
                }
                else{
                    return false;
                }
            });





        });

    </script>

</head>
<body>


<br><br>
<!--车辆编号-->
<!--<div class="layui-form-item">
 <label for="carId" class="layui-form-label">
     <span class="we-red">*</span>车辆编号:
 </label>
 <div class="layui-input-inline" id="chickdep">

     <select id="carId" name="carId">
         <option value="">&#45;&#45;车辆车牌号&#45;&#45;</option>
     </select>

 </div>
</div>
-->


<form class="layui-form" action="" target="nm_iframe">

    <!--   车辆编号-->
    <div class="layui-form-item">
        <label class="layui-form-label">车辆编号:</label>
        <div class="layui-input-block">
            <input type="text" id="carId" name="carId" lay-verify="carId" autocomplete="off" placeholder="粤B118234"  class="layui-input" style="width: 200px">
            <span id="car_1"></span>
        </div>
    </div>


    <!--   车辆类型-->
    <div class="layui-form-item">
        <label class="layui-form-label">车辆类型:</label>
        <div class="layui-input-block">
            <input type="text" id="carname" name="carname" lay-verify="carname" placeholder="车辆类型" autocomplete="off" class="layui-input" style="width: 200px">
            <!--<select id="carname" name="carname">
             <option value="">&#45;&#45;越野&#45;&#45;</option>
             <option value="">&#45;&#45;奔驰&#45;&#45;</option>
             <option value="">&#45;&#45;宝马&#45;&#45;</option>
             </select>-->
            <span id="car_2"></span>


        </div>
    </div>
    <!--  车辆状况-->
    <div class="layui-form-item">
        <label class="layui-form-label">车辆状况:</label>
        <div class="layui-input-block">
            <input type="text" id="cState" name="cState" lay-verify="cState" autocomplete="off" placeholder="车辆状况" class="layui-input" style="width: 200px">
            <span id="car_3"></span>
        </div>
    </div>

    <!--  //保险信息-->
    <div class="layui-form-item">
        <label class="layui-form-label">保险信息:</label>
        <div class="layui-input-block">
            <input type="text" id="cInsurance" name="cInsurance" lay-verify="cInsurance" placeholder="请填写保养" autocomplete="off" class="layui-input" style="width: 420px" >
            <span id="car_4"></span>
        </div>
    </div>


    <!--//上次保养时间-->
    <div class="layui-inline">
        <label class="layui-form-label">上次保养时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="cMaintaintime" name="cMaintaintime" lay-verify="cMaintaintime" placeholder="2019-2-20">
        </div>
    </div>



    <!-- 添加重置-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn"  id="closeIframe" lay-submit="" lay-filter="add">添加</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<iframe name="nm_iframe" id="nm_iframe" style="display: none"></iframe>

</body>
</html>