
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>

</head>

<script type="text/javascript">

    //重新渲染表单
    function renderForm(){
        layui.use('form', function(){
            var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
            form.render();
        });
    }
    $(document).ready(function () {
        //申请单初始化值
        $.ajax({
            url:"/getCaID",
            type:"get",
            success:function(data){
                $('#caId').val(data);
                renderForm();
            }
        });
        //下拉菜单获取牌照
        $.ajax({
            url:"/getAllLicensePlate",
            type:"get",
            success:function(data){

                $.each(data,function(index,item){
                    $('#caCId').append(new Option(item,item));//往下拉菜单里添加元素
                })
                renderForm();//菜单渲染 把内容加载进去
            },
            //async:false//false表示同步
        });

        layui.use(['form', 'laydate'], function(){
             var form = layui.form;
             var laydate = layui.laydate;
             //日期
            var nowTime=new Date();
            var startDate=laydate.render({
                 elem: '#caStarttime',
                 type: 'datetime',
                 min: 'nowTime',
                 done: function(value, date){
                     endDate.config.min ={
                      year:date.year,
                      month:date.month-1, //关键
                      date: date.date,
                          hours:date.hours,
                          minutes:date.minutes,
                          seconds:date.seconds
                  };
              }

             });
            var endDate=laydate.render({
                 elem: '#caOvertime',
                 type: 'datetime',
                 min: 'nowTime',
                 done: function(value, date){
                     startDate.config.max ={
                         year:date.year,
                         month:date.month-1, //关键
                         date: date.date,
                         hours:date.hours,
                         minutes:date.minutes,
                         seconds:date.seconds
                     };
                 }

             });
             /*form.render();*/
             //自定义验证规则
             form.verify({
                 caReason: function(value) {
                     if (value.length < 2) {
                         return '申请原因至少得2个字符啊';
                     }
                 },
                 caCId: function(value) {
                     if (value < 0) {
                         return '请选择车辆';
                     }
                 }
             });
         });

    });

</script>
<body>
<div class="weadmin-body">
    <form class="layui-form layui-form-pane" action="/addCarApply">
        <!--申请单单号-->
        <div class="layui-form-item">
            <label class="layui-form-label">申请单单号</label>
            <div class="layui-input-inline">
                <input type="text" name="caId" id="caId" readonly placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--申请的车辆-->
        <div class="layui-form-item">
            <label class="layui-form-label">申请的车辆</label>
            <div class="layui-input-inline">
                <select name="caCId" id="caCId" lay-verify="caCId">
                    <option value="-1">--请选择--</option>
                </select>
            </div>
        </div>
        <!--申请人员-->
        <div class="layui-form-item">
            <label class="layui-form-label">申请人员</label>
            <div class="layui-input-inline">
                <input type="text" name="userid" lay-verify="" autocomplete="off" placeholder="默认当前账号用户" class="layui-input">
            </div>
        </div>
        <!--开始日期-->
        <div class="layui-form-item">
            <label class="layui-form-label">开始日期:</label>
            <div class="layui-input-inline">
                <input type="text" name="caStarttime" id="caStarttime" lay-verify="required" placeholder=" " autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--结束日期-->
        <div class="layui-form-item">
            <label class="layui-form-label">结束日期:</label>
            <div class="layui-input-inline">
                <input type="text" name="caOvertime" id="caOvertime" lay-verify="required" placeholder=" " autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--申请原因-->
        <div class="layui-form-item">
            <label class="layui-form-label">申请原因:</label>
            <div class="layui-input-inline">
                <input type="text" name="caReason" id="caReason" lay-verify="caReason" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <!--审核人员-->
        <div class="layui-form-item">
            <label class="layui-form-label">审核人员</label>
            <div class="layui-input-inline">
                <select name="check" lay-filter="aihao">
                    <option value="-1">--请选择--</option>
                    <option value="0">写作</option>
                    <option value="1" selected="">阅读</option>
                    <option value="2">游戏</option>
                    <option value="3">音乐</option>
                    <option value="4">旅行</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
        </div>
     </form>
</div>
</body>
</html>