<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>
    <style type="text/css">
        *{
            margin: 0px;
            padding: 0px;
        }


    </style>
</head>
<body>
<form class="layui-form layui-form-pane" action="">
车辆申请单号:
申请人员:
开始日期:
结束日期:
申请原因:
审核人员:
状态（0 - 未审核/1 - 审核通过/2 - 审核未通过）:
审核建议:
 </form>
</body>
</html>
</body>
</html>