<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>写信</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>
    <style type="text/css">
        *{
            margin: 0px;
            padding: 0px;
        }
        .layui-table, .layui-table-view {
            margin: 0px 0;
        }
        .layui-form .layui-form-item{
            margin-left: 110px;
        }
        .layui-form{
            margin-top: 30px;
        }
    </style>
</head>

<script type="text/javascript">

    //邮件存稿
    /*function save(){
        document.form1.action="/sendEmail?eState=0&tpye=draft";
        document.form1.submit();
    }
    //发送邮件
    function send(){
        document.form1.action="/sendEmail?eState=1&tpye=draft";
        document.form1.submit();
    }*/

    //重新渲染表单
    function renderForm(){
        layui.use('form', function(){
            var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
            form.render();
        });
    }
    $(document).ready(function () {
        //禁用验证
        $('button[demo2]').each(function(){ValidatorEnable(this,false);});
        //启用验证
        $('button[demo1]').each(function(){ValidatorEnable(this,true);});
        //富文本编辑器自定义工具栏
        var index,layedit;
        layui.use('layedit', function(){
            layedit = layui.layedit;
            index = layedit.build('eContent', {
                tool: ['strong','italic','face','underline','del', 'link', 'unlink', '|', 'left', 'center', 'right','b']
                ,height : 180
            })
        });


      /*  var parent_jsoneAcceptid = eval('('+parent.jsoneAcceptid+')');
        var parent_jsonjsoneSendid = eval('('+parent.jsoneSendid+')');
        alert(parent_jsonjsoneSendid);*/

       /* $("#eAcceptid").val(eAcceptid);
        $("#eSendid").val(eSendid);
        alert(eSendid);*/

            layui.use(['form', 'laydate'], function(){
                var form = layui.form;
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#eTime',
                });
                //监听提交
                //发送
                //当前窗口名
                var index2 = parent.layer.getFrameIndex(window.name);
                form.on('submit(demo1)', function(data){
                    layedit.sync(index);
                    var  eTitle = $("#eTitle").val();
                    //var  eSendid = $("#eSendid").val();
                    var  eAcceptid = $("#eAcceptid").val();
                    var  eContent = $("#eContent").val();
                    if($.trim(eTitle) == ''){
                        layer.msg('去写标题');
                        return false;
                    } else if($.trim(eAcceptid) == ''){
                        layer.msg('你要发给谁啊？请填写接收人');
                        return false;
                    } else if($.trim(eContent) == ''){
                        layer.msg('你要告诉别人什么啊？');
                        return false;
                    }
                    $.ajax({
                        url:"/sendEmail?eState=1",
                        type:"POST",
                        data:data.field,
                        dataType:"json",
                        success:function (data) {
                            if(data===500){
                                parent.layer.msg("发送成功", {icon: 5});
                            }else{
                                parent.layer.msg("发送失败", {icon: 6});
                            }
                        }
                    });
                    //刷新父页面
                    window.parent.location.reload();
                    //关闭当前窗口
                    parent.layer.close(index2);
                });
                //存草稿
                //当前窗口名
                //var index = parent.layer.getFrameIndex(window.name);
                form.on('submit(demo2)', function(data){
                    $.ajax({
                        url:"/sendEmail?eState=0",
                        type:"POST",
                        data:data.field,
                        dataType:"json",
                        success:function (data) {
                            if(data===500){
                                parent.layer.msg("保存成功", {icon: 5});
                            }else{
                                parent.layer.msg("保存失败", {icon: 6});
                            }
                        }
                    });
                    //刷新父页面
                    window.parent.location.reload();
                    //关闭当前窗口
                    parent.layer.close(index2);
                });
            });
            /*form.render();*/
            //自定义验证规则
            /*form.verify({*/
               /* caReason: function(value) {
                    if (value.length < 2) {
                        return '申请原因至少得2个字符啊';
                    }
                },
                caCId: function(value) {
                    if (value < 0) {
                        return '请选择车辆';
                    }
                }*/
            /*});*/
    });




</script>
<body>
<div class="weadmin-body">
    <!--action="/sendEmail?eState=1"-->
    <form class="layui-form layui-form-pane" name="form1" method="post">
        <!--邮件编号-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">邮件编号</label>
            <div class="layui-input-inline">
                <input type="text" name="eId" id="eId" readonly placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>-->

        <!--邮件标题-->
        <div class="layui-form-item">
            <label class="layui-form-label">邮件标题</label>
            <div class="layui-input-inline">
                <input type="text" name="eTitle" id="eTitle" lay-verify="eTitle" placeholder="" class="layui-input">
            </div>
        </div>
        <!--发送时间-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">发送时间:</label>
            <div class="layui-input-inline">
                <input type="text" name="eTime" id="eTime" lay-verify="eTime" placeholder=" " autocomplete="off" class="layui-input">
            </div>
        </div>-->

        <!--发送人员-->
        <div class="layui-form-item">
            <label class="layui-form-label">发送人员:</label>
            <div class="layui-input-inline">
                <input type="text" name="eSendid" id="eSendid" lay-verify="eSendid"  th:value="${eAcceptid}" class="layui-input">
            </div>
        </div>
        <!--接收人员-->
        <div class="layui-form-item">
            <label class="layui-form-label">接收人员:</label>
            <div class="layui-input-inline">
                <input type="text" name="eAcceptid" id="eAcceptid" lay-verify="eAcceptid" th:value="${eSendid}"   class="layui-input">
            </div>
        </div>
        <!--转抄人员-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">转抄人员:</label>
            <div class="layui-input-inline">
                <input type="text" name="eCopyid" id="eCopyid" lay-verify="eCopyid" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>-->
        <!--邮件内容-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">邮件内容:</label>
            <div class="layui-input-inline">
                <input type="text" name="eContent" id="eContent" lay-verify="eContent" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>-->
        <!-- 富文本编辑器 -->
        <div class="layui-input-block mailcontent" style="width:600px;" >
            <textarea name="eContent" id="eContent" style="display: block;" ></textarea>
        </div>
        <br><br>
        <!--邮件状态-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">邮件状态:</label>
            <div class="layui-input-inline">
                <input type="text" name="eState" id="eState" lay-verify="eState" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>-->
        <div class="layui-form-item demo1">
            <div class="layui-input-inline">

                <button class="layui-btn demo1" lay-submit="demo1" lay-filter="demo1" >发送</button>
                <button class="layui-btn demo2" lay-submit="demo2" lay-filter="demo2" >存草稿</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>