<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>oneEmail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>
    <style type="text/css">
        *{
            margin: 0px;
            padding: 0px;
        }
        .layui-table, .layui-table-view {
            margin: 0px 0;
        }
        .layui-form .layui-form-item{
            margin-left: 110px;

        }
        .layui-form{
            margin-top: 30px;
        }
    </style>
</head>
<script type="text/javascript">
    //放入垃圾箱
    function delOneEmail(){
        var eIds = $('#eId').val();
        document.form1.action="/changeEmailInfoStateThree?eIds="+eIds;
        document.form1.submit();
        //window.opener.opener=null;//这一句非要,不然会弹出关闭提示.
        //window.opener.close();

        /*$.ajax({
            url: "/changeEmailInfoStateThree",
            type: "POST",
            data: {"eIds":eIds},
            dataType: "json",
            success: function(data){
                if(data===500){
                    layer.msg("放入失败", {icon: 5});
                }else {
                    table.reload('idTest', {
                        where: { //设定异步数据接口的额外参数，任意设

                        }
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                }
            },
            error:function(){
                layer.msg("系统异常");
            },
        });*/
    }
    //回复邮件
    function send(){
        var eSendid = $('#eSendid').val();
        var eAcceptid = $('#eAcceptid').val();
        document.form1.action="/mailReply?eAcceptid="+eAcceptid+"&eSendid="+eSendid;
        document.form1.submit();
    }
    //重新渲染表单
    function renderForm(){
        layui.use('form', function(){
            var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
            form.render();
        });
    }
    $(document).ready(function () {
        var index,layedit;
        layui.use(['form', 'laydate', 'layedit', 'layer'], function(){
            var form = layui.form;
            var laydate = layui.laydate;
            var layer = layui.layer
            laydate.render({
                elem: '#eTime',
            });
            layedit = layui.layedit;
            //富文本编辑器自定义工具栏
            index = layedit.build('eContent', {
                tool: ['strong','italic','face','underline','del', 'link', 'unlink', '|', 'left', 'center', 'right','b']
                ,height : 180
            });

            //监听提交
            //回复
            /*form.on('submit(demo1)', function(data){
                var eSendid = $('#eSendid').val();
                var eAcceptid = $('#eAcceptid').val();
                $.ajax({
                    url: "/mailReply",
                    type: "POST",
                    data: {"eIds":eIds},
                    dataType: "json",
                    success: function(data){
                        if(data===500){
                            layer.msg("放入失败", {icon: 5});
                        }else {
                            table.reload('idTest', {
                                where: { //设定异步数据接口的额外参数，任意设

                                }
                                , page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                    },
                    error:function(){
                        layer.msg("系统异常");
                    },

                });


            });*/
            //放入垃圾箱
            /*form.on('submit(demo2)', function(data){

                layer.confirm('真的放入垃圾箱吗', function(index){
                    var eIds =$('#eId').val();
                    $.ajax({
                        url: "/changeEmailInfoStateThree",
                        type: "POST",
                        data: {"eIds":eIds},
                        dataType: "json",
                        success: function(data){
                            if(data===500){
                                layer.msg("放入失败", {icon: 5});
                            }else {
                                table.reload('idTest', {
                                    where: { //设定异步数据接口的额外参数，任意设

                                    }
                                    , page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            }
                        },
                        error:function(){
                            layer.msg("系统异常");
                        },

                    });
                });
            });*/
            //获取父类信息
            var parent_json = eval('('+parent.json+')');
            //异步查询单条用户信息
            $.ajax({
                type:"get",
                url:"/getOneEmailInfoChangeStateTwo",//查看单条数据,并将邮件状态改为2，已读
                data:{"eId":parent_json.eId},
                dataType:"json",
                success:function(data){
                    $('#eId').val(data.eId);
                    $('#eTitle').val(data.eTitle);
                    //$('#eTime').val(data.eTime);
                    $('#eSendid').val(data.eSendid);
                    $('#eAcceptid').val(data.eAcceptid);
                    layedit.setContent(index,data.eContent);
                }
            });
        });


            layui.use(['form','layedit'],function() {
                var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
                var layedit = layui.layedit; //只有执行了这一步，部分表单元素才会自动修饰成功
            });

        });
</script>
<body>
<div class="weadmin-body">
    <form class="layui-form layui-form-pane" name="form1" id="form1" method="post">
        <!--邮件编号-->
        <div class="layui-form-item">
            <label class="layui-form-label">邮件编号</label>
            <div class="layui-input-inline">
                <input type="text" name="eId" id="eId" readonly placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--邮件标题-->
        <div class="layui-form-item">
            <label class="layui-form-label">邮件标题</label>
            <div class="layui-input-inline">
                <input type="text" name="eTitle" id="eTitle" readonly lay-verify="eTitle" autocomplete="off" placeholder="默认当前账号用户" class="layui-input">
            </div>
        </div>
        <!--发送时间-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">发送时间:</label>
            <div class="layui-input-inline">
                <input type="text" name="eTime" id="eTime" lay-verify="eTime" placeholder=" " autocomplete="off" class="layui-input">
            </div>
        </div>-->

        <!--发送人员-->
        <div class="layui-form-item">
            <label class="layui-form-label">发送人员:</label>
            <div class="layui-input-inline">
                <input type="text" name="eSendid" id="eSendid" readonly lay-verify="eSendid" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <!--接收人员-->
        <div class="layui-form-item">
            <label class="layui-form-label">接收人员:</label>
            <div class="layui-input-inline">
                <input type="text" name="eAcceptid" id="eAcceptid" readonly lay-verify="eAcceptid" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>

        <!--转抄人员-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">转抄人员:</label>
            <div class="layui-input-inline">
                <input type="text" name="eCopyid" id="eCopyid" lay-verify="eCopyid" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>-->
        <!--邮件内容-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">邮件内容:</label>
            <div class="layui-input-inline">
                <input type="text" name="eContent" id="eContent" lay-verify="eContent" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>-->
        <!-- 富文本编辑器 -->
        <div class="layui-input-block mailcontent" style="width:600px;" >
            <textarea name="eContent" id="eContent" style="display: block;" ></textarea>
        </div>
        <br><br>
        <!--邮件状态-->
        <!--<div class="layui-form-item">
            <label class="layui-form-label">邮件状态:</label>
            <div class="layui-input-inline">
                <input type="text" name="eState" id="eState" lay-verify="eState" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
        </div>-->
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <button class="layui-btn demo1" lay-submit="demo1" lay-filter="demo1" onclick="send()" >回复</button>
                <!--<button class="layui-btn demo2" lay-submit="demo2" lay-filter="demo2" >放入垃圾箱</button>-->
            </div>
        </div>
    </form>
</div>
</body>
</html>