
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>


</head>

<script type="text/javascript" th:inline="none">

    //重新渲染表单
    function renderForm(){
        layui.use('form', function(){
            var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
            form.render();
        });
    }

    $(document).ready(function(){

        var editIndex,layedit;
        layui.use(['form', 'layedit', 'laydate','layer'], function(){

            var form = layui.form
                ,layer = layui.layer
                ,laydate = layui.laydate;


            //日期
            laydate.render({
                elem: '#nTime',
                type: 'datetime'//日期格式
            });

            //判断公告编号是否输入
            $('#nId').click(function () {
                if($('#nId').val()==""){
                    layer.msg("请输入公告编号", {icon: 5})
                }
            });
            //判断公告标题是否输入
            $('#nTitle').click(function () {
                if($('#nTitle').val()==""){
                    layer.msg("请输入公告标题", {icon: 5})
                }
            });

            //自定义验证规则
            form.verify({
                nId: [
                    /^[1-9]\d{1,10}$/
                    ,'公告编号必须10位数字,且不能以0开头'
                ]
                ,nTitle:[
                    /^([\u4e00-\u9fa5]){2,5}$/
                    ,'请输入2到5位数中文字符'
                ]

            });

            //创建一个编辑器
            layedit = layui.layedit
            editIndex = layedit.build('nContent',{
                tool: ['strong','italic','face','underline','del', 'link', 'unlink', '|', 'left', 'center', 'right','b']
                ,height : 100
            });

        });
            $(function() {

                var index = parent.layer.getFrameIndex(window.name);

                //关闭iframe
                $('#closeIframe').click(function () {
                    var nId = $('#nId').val();
                    var userid = $('#userid').val();
                    var nTitle = $('#nTitle').val();
                    var nTime = $('#nTime').val();
                    //var nContent=layedit.sync(editIndex);
                    var nContent =layedit.getContent(editIndex);
                    //var nContent =$('#nContent').val();
                    $.ajax({
                        url: "/noticemanage/noticeAddInfo",
                        type: "POST",
                        data: {
                            nId: nId
                            , userid: userid
                            , nTitle: nTitle
                            , nTime: nTime
                            , nContent: nContent
                        },
                        dataType: "json",
                        success: function (data) {
                            if (data === 500) {
                                parent.layer.msg("添加失败", {icon: 5});
                            } else {
                                parent.layer.msg("添加成功", {icon: 6});
                                parent.location.reload();
                            }

                        },
                        error: function () {
                            parent.layer.msg("系统异常");
                        },

                    });

                    parent.layer.close(index);

                });
            });


        //异步获取职工编号
        $.ajax({
            type : "get",
            url : "/system/getUserAllInfo",
            success : function(data) {
                //alert(data[1].depnamemc);
                var user='';
                $.each(data, function(index,obj) {
                    user += '<option value="'+obj.userid+'">'+obj.turename+'</option>';
                });
                //alert(dep);
                $("#userid").append(user);
                renderForm();
                //layui.form.render();
            },
        });

        layui.use('form', function() {
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            form.render();
        });

    });
</script>

<body>
<br>
<div class="weadmin-body">
    <form class="layui-form" action="" target="nm_iframe">

        <div class="layui-form-item">
            <label for="nId" class="layui-form-label">
                <span class="we-red">*</span>公告编号:
            </label>
            <div class="layui-input-block">
                <input type="text" id="nId" name="nId" lay-verify="nId" autocomplete="off" class="layui-input" style="width: 200px">
                <span id="nId_prompt"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="userid" class="layui-form-label">
                <span class="we-red">*</span>职工编号:
            </label>
            <div class="layui-input-inline" style="width: 200px">

                <select id="userid">
                    <option value="-1">--请选择--</option>
                </select>

            </div>
        </div>

        <div class="layui-form-item">
            <label for="nTitle" class="layui-form-label">
                <span class="we-red">*</span>公告标题:
            </label>
            <div class="layui-input-block">
                <input type="text" id="nTitle" name="nTitle" lay-verify="nTitle" autocomplete="off" class="layui-input" style="width: 200px">
                <span id="nTitle_prompt"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="nTime" class="layui-form-label">
                <span class="we-red">*</span>发布时间:
            </label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="nTime" name="nTime" autocomplete="off" style="width: 200px">
                <span id="nTime_prompt"></span>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label for="nContent" class="layui-form-label">
                <span class="we-red">*</span>公告内容:
            </label>
            <div class="layui-input-block">
                <textarea type="text" class="layui-textarea" id="nContent" name="nContent" lay-verify="nContent" autocomplete="off" style="width: 200px;height: 10px"></textarea>
                <span id="nContent_prompt"></span>
            </div>
        </div>


        <div class="layui-form-item">
            <label  class="layui-form-label">
            </label>
            <button  class="layui-btn" id="closeIframe" lay-filter="add" lay-submit="">
                添加
            </button>
        </div>

    </form>
    <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
</div>

</body>

</html>