
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>公告添加</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>


</head>

<script type="text/javascript">
    //日期选择器模块
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#nTime' //指定元素
        });
    });

    //重新渲染表单
    function renderForm(){
        layui.use('form', function(){
            var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
            form.render();
        });
    }

    $(document).ready(function(){

        //异步获取职工编号
        $.ajax({
            type : "get",
            url : "/system/selectUserid",
            success : function(data) {
                //alert(data[1].depnamemc);
                var user='';
                $.each(data, function(index,obj) {
                    user += '<option value="'+obj.userid+'">'+obj.userid+'</option>';
                });
                //alert(dep);
                $("#userid").append(user);
                renderForm();
                //layui.form.render();
            },
        });

    });
</script>

<body>
<br>
<div class="weadmin-body">
    <form class="layui-form">

        <!--公告编号-->
        <div class="layui-form-item">
            <label for="nId" class="layui-form-label">
                <span class="we-red">*</span>公告编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="nId" name="nId" required="" lay-verify="nId"
                       autocomplete="off" value="" class="layui-input" style="width: 200px">
            </div>
        </div>

        <!--职工编号-->
        <div class="layui-form-item">
            <label for="userid" class="layui-form-label">
                <span class="we-red">*</span>职工编号
            </label>
            <div class="layui-input-inline" style="width: 200px">

                <select id="userid">
                    <option value="-1">--请选择--</option>
                </select>

            </div>
        </div>

        <!--公告标题-->
        <div class="layui-form-item">
            <label for="nTitle" class="layui-form-label">
                <span class="we-red">*</span>公告标题
            </label>
            <div class="layui-input-inline">
                <input type="text" id="nTitle" name="nTitle" required="" lay-verify="nTitle"
                       autocomplete="off" value="" class="layui-input" style="width: 200px">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>-->
        </div>

        <!--发布时间-->
        <div class="layui-form-item">
            <label for="nTime" class="layui-form-label">
                <span class="we-red">*</span>发布时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="nTime" name="nTime" required="" lay-verify="nTime"
                       autocomplete="off" value="" class="layui-input" style="width: 200px">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>-->
        </div>


        <!--公告内容-->
        <div class="layui-form-item">
            <label for="nContent" class="layui-form-label">
                <span class="we-red">*</span>公告内容
            </label>
            <div class="layui-input-inline">
                <input type="text" id="nContent" name="nContent" required="" lay-verify="nContent"
                       autocomplete="off" value="" class="layui-input" style="width: 200px">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>-->
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                添加
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">

    layui.use(['form','layer'], function(){
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            nId:[/(.+){1,}$/, '公告编号必须是数字'],
            nTitle: function(value){
                if(value.length < 5){
                    return '公告标题至少得5个字符';
                }
            }
            ,nContent: function(value){
                if(value.length < 10){
                    return '公告内容必须的10个字符';
                }
            }

        });

        //监听提交
        form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交给php
            layer.alert("增加成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
            });
            return false;
        });

    });
</script>
</body>

</html>