<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公告修改</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>

    <script type="text/javascript">

        $(function(){

            $.ajax({
                type:"get",
                //data:  表示服务传递的参数
                url:"/noticemanage/getNotice",
                dataType:"json",
                success:function(data){  //data表示返回的数据
                    $('#nId').val(data.nId);
                    $('#userid').val(data.userid);
                    $('#nTitle').val(data.nTitle);
                    $('#nTime').val(data.nTime);
                    $('#nContent').val(data.nContent);
                }
            });

            //公告编号验证
            $("#nId").blur(function () {
                //获取公告编号文本框的值
                var nId=$("#nId").val();
                //使用正则表达式 公告编号由1-3个数字构成
                var reg =/^[0-9]{1,3}$/;
                //判断
                if (reg.test(nId)){
                    $("#nId_prompt").html("正确").css("color","green");
                    return true;
                } else{
                    $("#nId_prompt").html("必须是1-3位数字").css("color","red");
                    return false;
                }
            });

            //职工编号验证
            $("#userid").blur(function(){
                //获取职工编号文本框的值
                var userid=$('#userid').val();
                //使用正则表达式 职工编号由数字组成
                var reg=/^[0-9]*$/;
                //判断
                if(reg.test(userid)){
                    $("#userid_prompt").html("正确").css("color","green");
                    return true;
                }else{
                    $("#userid_prompt").html("必须是数字").css("color","red");
                    //获得焦点
                    //$("#depnamemc").focus();
                    //将文本内容进行全选
                    //$("#depnamemc").select();
                    return false;
                }
            });



            //公告标题验证
            $("#nTitle").blur(function(){
                //获取公告标题文本框的值
                var nTitle=$('#nTitle').val();
                //使用正则表达式 公告标题至少2-8位汉字
                var reg = /^[\u4e00-\u9fa5]{2,8}$/;
                //判断
                if(reg.test(nTitle)){
                    $("#nTitle_prompt").html("正确").css("color","green");
                    return true;
                }else{
                    $("#nTitle_prompt").html("2-8位汉字").css("color","red");
                    //获得焦点
                    //$("#depname").focus();
                    //将文本内容进行全选
                    //$("#depname").select();
                    return false;
                }
            });

            //公告内容验证
            $("#nContent").blur(function(){
                //获取公告内容文本框的值
                var nContent=$('#nContent').val();
                //使用正则表达式 公告内容至少20位汉字
                var reg = /^[\u4e00-\u9fa5]{20,}$/;
                //判断
                if(reg.test(nContent)){
                    $("#nContent_prompt").html("正确").css("color","green");
                    return true;
                }else{
                    $("#nContent_prompt").html("至少20位汉字").css("color","red");
                    //获得焦点
                    //$("#depname").focus();
                    //将文本内容进行全选
                    //$("#depname").select();
                    return false;
                }
            });


            var index = parent.layer.getFrameIndex(window.name);

            //关闭iframe
            $('#closeIframe').click(function(){
                var nId=$('#nId').val();
                var userid=$('#userid').val();
                var nTitle=$('#nTitle').val();
                var nTime=$('#nTime').val();
                var nContent=$('#nContent').val();
                $.ajax({
                    url: "/noticemanage/noticeUpdateInfo",
                    type: "POST",
                    data: {"nId":nId,"userid":userid,"nTitle":nTitle,"nTime":nTime,"nContent":nContent},
                    dataType: "json",
                    success: function(data){
                        if(data===500){
                            parent.layer.msg("修改失败", {icon: 5});
                        }else{
                            parent.layer.msg("修改成功", {icon: 6});
                        }
                    },
                    error:function(){
                        parent.layer.msg("系统异常");
                    },

                });

                parent.layer.close(index);

            });

        });

    </script>

</head>
<body>


<br><br>
<div class="layui-form-item">
    <label class="layui-form-label">公告编号:</label>
    <div class="layui-input-block">
        <input type="text" id="nId" name="nId" lay-verify="nId" autocomplete="off" placeholder="公告编号" class="layui-input" style="width: 200px">
        <span id="nId_prompt"></span>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">职工编号:</label>
    <div class="layui-input-block">
        <input type="text" id="userid" name="userid" lay-verify="userid" placeholder="职工编号" autocomplete="off" class="layui-input" style="width: 200px">
        <span id="userid_prompt"></span>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">公告标题:</label>
    <div class="layui-input-block">
        <input type="text" id="nTitle" name="nTitle" lay-verify="nTitle" autocomplete="off" placeholder="公告标题" class="layui-input" style="width: 200px">
        <span id="nTitle_prompt"></span>
    </div>
</div>


<div class="layui-form-item">
    <label class="layui-form-label">发布时间:</label>
    <div class="layui-input-inline">
        <input type="text" class="layui-input" id="nTime" name="nTime" placeholder="发布时间" autocomplete="off" style="width: 200px">
        <span id="nTime_prompt"></span>
    </div>
</div>


<div class="layui-form-item">
    <label class="layui-form-label">公告内容:</label>
    <div class="layui-input-block">
        <input type="text" id="nContent" name="nContent" lay-verify="nContent" placeholder="公告内容" autocomplete="off" class="layui-input" style="width: 200px">
        <span id="nContent_prompt"></span>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn"  id="closeIframe" lay-submit="" lay-filter="updata">编辑</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>

</body>
</html>