
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.4.5/css/layui.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}" type="text/javascript"></script>


</head>

<script type="text/javascript">

    //重新渲染表单
    function renderForm(){
        layui.use('form', function(){
            var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
            form.render();
        });
    }

    $(document).ready(function(){

        //异步获取部门名称
        $.ajax({
            type : "get",
            url : "/system/selectDep",
            success : function(data) {
                //alert(data[1].depnamemc);
                var dep='';
                $.each(data, function(index,obj) {
                        dep += '<option value="'+obj.depname+'">'+obj.depnamemc+'</option>';
                });
                //alert(dep);
                $("#depname").append(dep);
                renderForm();
                //layui.form.render();
            },
        });

        //异步获取岗位名称
        $.ajax({
            type : "get",
            url : "/system/selectPost",
            success : function(data) {
                //alert(data[1].rolenamemc);
                var role='';
                $.each(data, function(index,obj) {
                    role += '<option value="'+obj.rolename+'">'+obj.rolenamemc+'</option>';
                });
                //alert(role);
                $("#rolename").append(role);
                renderForm();
            },
        });

        layui.use('form', function() {
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            form.render();
        });

    });
</script>

<body>
<br>
<div class="weadmin-body">
    <form class="layui-form" action="" target="nm_iframe">

        <!--职员编号-->
        <div class="layui-form-item">
            <label for="userid" class="layui-form-label">
                <span class="we-red">*</span>职员编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="userid" name="userid" required="" lay-verify="userid"
                       autocomplete="off" value="" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>

        <!--职员姓名-->
        <div class="layui-form-item">
            <label for="turename" class="layui-form-label">
                <span class="we-red">*</span>姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" value="" id="turename" name="turename" required="" lay-verify="turename"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>

        <!--年龄-->
        <div class="layui-form-item">
            <label for="age" class="layui-form-label">
                <span class="we-red">*</span>年龄
            </label>
            <div class="layui-input-inline">
                <input type="text" value="" id="age" name="age" required="" lay-verify="age"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>

        <!--性别-->
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked >
                <input type="radio" name="sex" value="女" title="女" >
            </div>
        </div>

        <!--手机-->
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                <span class="we-red">*</span>手机
            </label>
            <div class="layui-input-inline">
                <input type="text" value="" id="phone" name="phone" required="" lay-verify="phone"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>

        <!--QQ号码-->
        <div class="layui-form-item">
            <label for="qq" class="layui-form-label">
                <span class="we-red">*</span>QQ号码
            </label>
            <div class="layui-input-inline">
                <input type="text" value="" id="qq" name="qq" required="" lay-verify="qq"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>

        <!--地址-->
        <div class="layui-form-item">
            <label for="address" class="layui-form-label">
                <span class="we-red">*</span>地址
            </label>
            <div class="layui-input-inline">
                <input type="text" value="" id="address" name="address" required="" lay-verify="address"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>

        <!--邮箱-->
        <div class="layui-form-item">
            <label for="email" class="layui-form-label">
                <span class="we-red">*</span>邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" value="" id="email" name="email" required="" lay-verify="email"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>

        <!--部门-->
        <div class="layui-form-item">
            <label for="depname" class="layui-form-label">
                <span class="we-red">*</span>部门
            </label>
            <div class="layui-input-inline" id="chickdep">

                <select id="depname" name="depName">
                    <option value="">--请选择部门--</option>
                </select>

            </div>
        </div>

        <!--岗位-->
        <div class="layui-form-item">
            <label for="rolename" class="layui-form-label">
                <span class="we-red">*</span>职位
            </label>
            <div class="layui-input-inline" id="chickrole">

                <select id="rolename" name="rolename">
                    <option value="">--请选择职位--</option>
                </select>

            </div>
        </div>

        <!--密码-->
        <div class="layui-form-item">
            <label for="pass" class="layui-form-label">
                <span class="we-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="pass" name="password" required="" lay-verify="password"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">

            </div>
        </div>

        <!--确认密码-->
        <div class="layui-form-item">
            <label for="pass" class="layui-form-label">
                <span class="we-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="repass" name="repassword" required="" lay-verify="repassword"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--默认状态添加为在职-->
        <input id="isprohibit" name="isprohibit" value="1" type="hidden">




        <div class="layui-form-item">
            <label  class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                添加
            </button>
        </div>
    </form>
    <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
</div>
<script type="text/javascript">

    $(function(){
        layui.use(['form', 'layedit', 'laydate'], function(){

            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;


            //日期
            laydate.render({
                elem: '#date'
            });


            //判断职员编号是否重复
            $('#userid').blur(function () {
                var userid=$('#userid').val();
                if(userid==""){
                    return;
                }else{
                    $.ajax({
                        url:"/system/inspectUserid",//判断用户名是否存在
                        type:"GET",
                        data:{'userid':userid},
                        dataType:"json",
                        success:function(data){
                            if (data===500) {
                                layer.msg("用户名已存在", {icon: 5});
                            }
                        },
                        error:function(){
                            layer.msg("系统异常");
                        },
                    });
                }
            })

            //判断职位是否输入
            $('#rolename').click(function () {
                if($('#rolename').val()==""){
                    layer.msg("请先选择职位", {icon: 5})
                }
            })
            //判断部门是否输入
            $('#depname').click(function () {
                if($('#depname').val()==""){
                    layer.msg("请先选择部门", {icon: 5})
                }
            })


            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                userid: [
                    /^[1-9]\d{1,10}$/
                    ,'职员编号必须10位数字,且不能以0开头'
                ]
                ,password: [
                    /^[a-zA-Z]\w{5,17}$/
                    ,'以字母开头，长度在6~18之间，只能包含字母、数字和下划线'
                ]
                ,repassword:function(value){
                    var passwordValue = $('input[name=password]').val();
                    if(value != passwordValue){
                        return '两次输入的密码不一致!';
                    }
                }
                ,turename:[
                    /^([\u4e00-\u9fa5]){2,5}$/
                    ,'请输入2到5位数中文姓名'
                ]
                ,age:[
                    /^(?:[1-9]?\d|100)$/
                    ,'请输入正确的年龄1到100'
                ]
                ,address:[
                    /^([\u4e00-\u9fa5]){2,19}$/
                    ,'请输入中文地址'
                ]
                ,qq:[
                    /^[1-9][0-9]{4,11}$/
                    ,'请输入正确QQ号码'
                ]
                ,content: function(value){
                    layedit.sync(editIndex);
                }
            });


            form.on('submit(add)', function(data){

                var index = parent.layer.getFrameIndex(window.name);
                $.ajax({
                    type: 'post',
                    url: '/system/userAdd', // ajax请求路径
                    data: {
                        userid:data.field.userid,
                        password:data.field.password,
                        turename: data.field.turename,
                        sex:data.field.sex,
                        age:data.field.age,
                        address:data.field.address,
                        phone:data.field.phone,
                        qq: data.field.qq,
                        email:data.field.email,
                        depName:data.field.depName,
                        rolename:data.field.rolename,
                        isprohibit:data.field.isprohibit
                    },
                    dataType:"json",
                    success: function(data){
                        if(data==400){
                            layer.msg("添加成功", {icon: 6,time:2000},function () {
                                parent.layer.close(index);
                                parent.location.reload();
                            });
                        }else {
                            layer.msg("添加失败", {icon: 5,time:2000});
                        }
                    },
                    error:function(){
                        layer.msg("系统异常");
                    },
                });
                return false;
            });

        //parent.layer.close(index);

    });
    });
</script>
</body>

</html>