<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huizhi.oa.dao.AttendanceinfoMapper">
  <resultMap id="BaseResultMap" type="com.huizhi.oa.entity.Attendanceinfo">
    <id column="a_id" jdbcType="INTEGER" property="aId" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="a_mtime" jdbcType="TIMESTAMP" property="aMtime" />
    <result column="a_atime" jdbcType="TIMESTAMP" property="aAtime" />
  </resultMap>
  <sql id="Base_Column_List">
    a_id, userId, a_mtime, a_atime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from attendanceinfo
  where a_id = #{aId,jdbcType=INTEGER}
</select>

  <select id="selectGetAll"  resultMap="BaseResultMap">
    select
    att.*, us.tureName
    from attendanceinfo att
    LEFT JOIN userinfo us ON att.userId= us.userId
  </select>

  <select id="selectAttendanceinfo" parameterType="com.huizhi.oa.entity.Attendanceinfo"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from attendanceinfo where 1=1
    <if test="userid != null">
      and userId = #{userid,jdbcType=INTEGER},
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attendanceinfo
    where a_id = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huizhi.oa.entity.Attendanceinfo">
    insert into attendanceinfo (a_id, userId, a_mtime, 
      a_atime)
    values (#{aId,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{aMtime,jdbcType=TIMESTAMP}, 
      #{aAtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huizhi.oa.entity.Attendanceinfo" useGeneratedKeys="true" keyProperty="aId">
    insert into attendanceinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        a_id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="aMtime != null">
        a_mtime,
      </if>
      <if test="aAtime != null">
        a_atime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="aMtime != null">
        #{aMtime,jdbcType=TIMESTAMP},
      </if>
      <if test="aAtime != null">
        #{aAtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huizhi.oa.entity.Attendanceinfo">
    update attendanceinfo
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="aMtime != null">
        a_mtime = #{aMtime,jdbcType=TIMESTAMP},
      </if>
      <if test="aAtime != null">
        a_atime = #{aAtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huizhi.oa.entity.Attendanceinfo">
    update attendanceinfo
    set userId = #{userid,jdbcType=INTEGER},
      a_mtime = #{aMtime,jdbcType=TIMESTAMP},
      a_atime = #{aAtime,jdbcType=TIMESTAMP}
    where a_id = #{aId,jdbcType=INTEGER}
  </update>
</mapper>