<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huizhi.oa.dao.EmailinfoMapper">
  <resultMap id="BaseResultMap" type="com.huizhi.oa.entity.Emailinfo">
    <id column="e_id" jdbcType="VARCHAR" property="eId" />
    <result column="e_title" jdbcType="VARCHAR" property="eTitle" />
    <result column="e_time" jdbcType="TIMESTAMP" property="eTime" />
    <result column="e_sendId" jdbcType="INTEGER" property="eSendid" />
    <result column="e_acceptId" jdbcType="INTEGER" property="eAcceptid" />
    <result column="e_copyId" jdbcType="VARCHAR" property="eCopyid" />
    <result column="e_content" jdbcType="VARCHAR" property="eContent" />
    <result column="e_state" jdbcType="INTEGER" property="eState" />
  </resultMap>
  <sql id="Base_Column_List">
    e_id, e_title, e_time, e_sendId, e_acceptId, e_copyId, e_content, e_state
  </sql>
  <!--通过寄件人编号获取他的所有邮件-->
  <select id="getAllEmailInfoByeAcceptid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from emailinfo
    where e_acceptId = #{eAcceptid,jdbcType=INTEGER}
  </select>
<!--通过寄件人编号获取他的所有邮件-->
  <select id="getAllEmailInfoByeSendid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from emailinfo
    where e_sendId = #{eSendid,jdbcType=INTEGER}
  </select>
  <select id="getAllEmailInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from emailinfo
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emailinfo
    where e_id = #{eId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from emailinfo
    where e_id = #{eId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.huizhi.oa.entity.Emailinfo">
    insert into emailinfo (e_id, e_title, e_time, 
      e_sendId, e_acceptId, e_copyId, 
      e_content, e_state)
    values (#{eId,jdbcType=VARCHAR}, #{eTitle,jdbcType=VARCHAR}, #{eTime,jdbcType=TIMESTAMP}, 
      #{eSendid,jdbcType=INTEGER}, #{eAcceptid,jdbcType=INTEGER}, #{eCopyid,jdbcType=VARCHAR}, 
      #{eContent,jdbcType=VARCHAR}, #{eState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huizhi.oa.entity.Emailinfo">
    insert into emailinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eId != null">
        e_id,
      </if>
      <if test="eTitle != null">
        e_title,
      </if>
      <if test="eTime != null">
        e_time,
      </if>
      <if test="eSendid != null">
        e_sendId,
      </if>
      <if test="eAcceptid != null">
        e_acceptId,
      </if>
      <if test="eCopyid != null">
        e_copyId,
      </if>
      <if test="eContent != null">
        e_content,
      </if>
      <if test="eState != null">
        e_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eId != null">
        #{eId,jdbcType=VARCHAR},
      </if>
      <if test="eTitle != null">
        #{eTitle,jdbcType=VARCHAR},
      </if>
      <if test="eTime != null">
        #{eTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eSendid != null">
        #{eSendid,jdbcType=INTEGER},
      </if>
      <if test="eAcceptid != null">
        #{eAcceptid,jdbcType=INTEGER},
      </if>
      <if test="eCopyid != null">
        #{eCopyid,jdbcType=VARCHAR},
      </if>
      <if test="eContent != null">
        #{eContent,jdbcType=VARCHAR},
      </if>
      <if test="eState != null">
        #{eState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huizhi.oa.entity.Emailinfo">
    update emailinfo
    <set>
      <if test="eTitle != null">
        e_title = #{eTitle,jdbcType=VARCHAR},
      </if>
      <if test="eTime != null">
        e_time = #{eTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eSendid != null">
        e_sendId = #{eSendid,jdbcType=INTEGER},
      </if>
      <if test="eAcceptid != null">
        e_acceptId = #{eAcceptid,jdbcType=INTEGER},
      </if>
      <if test="eCopyid != null">
        e_copyId = #{eCopyid,jdbcType=VARCHAR},
      </if>
      <if test="eContent != null">
        e_content = #{eContent,jdbcType=VARCHAR},
      </if>
      <if test="eState != null">
        e_state = #{eState,jdbcType=INTEGER},
      </if>
    </set>
    where e_id = #{eId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huizhi.oa.entity.Emailinfo">
    update emailinfo
    set e_title = #{eTitle,jdbcType=VARCHAR},
      e_time = #{eTime,jdbcType=TIMESTAMP},
      e_sendId = #{eSendid,jdbcType=INTEGER},
      e_acceptId = #{eAcceptid,jdbcType=INTEGER},
      e_copyId = #{eCopyid,jdbcType=VARCHAR},
      e_content = #{eContent,jdbcType=VARCHAR},
      e_state = #{eState,jdbcType=INTEGER}
    where e_id = #{eId,jdbcType=VARCHAR}
  </update>
</mapper>