<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huizhi.oa.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.huizhi.oa.entity.UserRole">
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="roleId" jdbcType="INTEGER" property="roleid" />
  </resultMap>
  <insert id="insert" parameterType="com.huizhi.oa.entity.UserRole">
    insert into user_role (userId, roleId)
    values (#{userid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huizhi.oa.entity.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!-- 查询单个用户角色roleid -->
  <select id="getUserRoleinfo" resultType="com.huizhi.oa.entity.UserRole" parameterType="java.lang.Integer">
		select userid,roleId FROM user_role WHERE userid=#{userid}
  </select>

  <!-- 删除单个用户角色信息-->
  <delete id="delUserRoleinfo" parameterType="int">
	     DELETE FROM user_role WHERE userId=#{userid}
	</delete>

  <!-- 根据userid查询对应角色roleid -->
  <select id="getAllUserRoleinfo" resultType="com.huizhi.oa.entity.UserRole" parameterType="java.lang.Integer">
		select userid,roleId FROM user_role WHERE userid=#{userid}
  </select>

</mapper>